/* IE 7*/

#site-footer{ margin-top:30px;}

.Form .field{ padding:8px 0;}
    .Form .left{ margin-right:4px;}
    .Form .nospan{padding-top:17px;}
    .Form .gore{ width:176px;}
    .Form .gore .itxt{ width:174px;}
    .Form .gore .dt{ width:90px;}
	.Form .gore .hr{ width:80px;}
    .Form .Hotel{ padding:4px 0;}
    .Form .Hborde{  padding:4px 0;}
    
    .Form .Hro .itxt{ width:107px;}